h6{
    font-size: 14px;
    font-weight: 200;
    }
    .position_banner{
        position: absolute;
        top: 480px;
        left: 650px;
        z-index: 1;
        color:white;
    }
    #botonabar{
        background-color: rgba(5, 1, 1, 0.096);
      }
    
    
    #botonabar:hover{
        background-color: green;
    }
    #container1{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    #caja2{
        background-color: rgba(0, 0, 0, 0.780);
        width: 669px;
        padding-left: 11px; 
     }
    
    .textoblanco1{
        color: white;
    }
    
    .textoblanco2{
        color:   white;
        font-size: 13px;
    }
    
    .textonegro1{
        color: black;
        font-size: 10px;
    }
    
    #conocemas{
        background-color: rgba(5, 1, 1, 0.096);
      }
    #conocemas:hover{
        background-color: rgba(5, 1, 1, 0.096);
        
    }
    .fondofooter{
        background-color: rgba(212, 25, 34, 0.096)
    }
    
    .abs-center {
        display: flex;
        justify-content: center; 
        width: auto; 
    }
    .caja{
        display: flex; 
        padding-left: 12%;    
    }
    #titulo_banner{
        /*text-align: right;*/
        text-align:start;
        padding-left: 70%;    
        font-size: 30px;
        font-weight: 0;        
    }
    #texto_banner{
        text-align:start;
        padding-left: 10%;    
        font-size: 15px;
        font-weight: 80;
        
    }
    .position-relative {
        left: 350px;        
        height: 400px;
        width: 78%;
       /*background-color: red;*/ 
        color:white;
    }
   